<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Gabriel Bombardier</title>
		<meta name="description" content="The HTML5 Herald">
		<script src="../public/javascripts/utils.js"></script>
		<script src="../public/javascripts/jQuery.js"></script>
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
		<link rel="icon" type="image/png" href="/public/img/favicon.png">
	</head>

	<script>
		window.onload = () => {

		}
	</script>

	<body>
		<header>
			<p>Gabriel Bombardier</p>
			<ul>
				<li class="header_content">
					<a id="resume_link" class="header_link" href="/resume">Résumé</a>
				</li>
				<li class="header_content">
					<a id="projects_link" class="header_link" href="/projects">Projets</a>
				</li>
				<li class="header_content">
					<a id="about_link" class="header_link" href="/about">À Propos</a>
				</li>
				<li class="header_content">
					<a id="_link" class="header_link" href="/">Accueil</a>
				</li>
			</ul>
		</header>
		<div class="main_content">
			<p>a propos</p>
		</div>
		<footer>
			<div id="img_container">
				<a class = "footer_img" id="facebook_link" href="https://www.facebook.com/bababriel" target="_blank">Facebook Icon</a>
				<a class = "footer_img" id="instagram_link" href="https://www.instagram.com/bababriel" target="_blank">Instagram Icon</a>
				<a class = "footer_img" id="linkedin_link" href="https://www.linkedin.com/in/gbombardier" target="_blank">LinkedIn Icon</a>
				<a class = "footer_img" id="github_link" href="https://github.com/gbombardier" target="_blank">Github Icon</a>
			</div>
		</footer>
	</body>

</html>
