<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Gabriel Bombardier</title>
		<meta name="description" content="The HTML5 Herald">
		<script src="../public/javascripts/utils.js"></script>
		<script src="../public/javascripts/jQuery.js"></script>
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
		<link rel="icon" type="image/png" href="/public/img/favicon.png">
	</head>

	<script>
		window.onload = () => {
			Utils.focusComponentHeader(document.location.href);
		}
	</script>

	<body>
		<header>
			<p>Gabriel Bombardier</p>
			<ul>
				<li class="header_content">
					<a id="resume_link" class="header_link" href="/resume">Résumé</a>
				</li>
				<li class="header_content">
					<a id="projects_link" class="header_link" href="/projects">Projets</a>
				</li>
				<li class="header_content">
					<a id="about_link" class="header_link" href="/about">À Propos</a>
				</li>
				<li class="header_content">
					<a id="_link" class="header_link" href="/">Accueil</a>
				</li>
			</ul>
		</header>
		<div class="main_content">
			<div id="cv_content">
				<div class="cv_content_column">
					<h1 class = "cv_header">Compétences Informatiques</h1>
					<h3 style="margin-top:25px;">Langages de Programmation</h3>
					<ul id= "language_ul">
						<li>Android et Java</li>
						<li>HTML, CSS, PHP, Javascript</li>
						<li>NODE.js</li>
						<li>Python</li>
						<li>Bash et Powershell</li>
						<li>SQL et noSQL</li>
					</ul>
					<h3>Frameworks et Logiciels</h3>
					<ul>
						<li>jQuery</li>
						<li>Express.js</li>
						<li>Jenkins, Git, Gerrit</li>
						<li>Android Studio</li>
						<li>SQL Workbench</li>
						<li>Suite Office</li>
						<li>Windows et Linux (Environnements)</li>
					</ul>
				</div>
				<div class="cv_content_column">
					<h1 class = "cv_header">Expériences de Travail</h1>
					<div id="xp_container">
						<img class="xp_img" src="../public/img/csmb_logo.png" alt="">
						<img class="xp_img" src="../public/img/summit_logo.png" alt="">
						<img class="xp_img" src="../public/img/gcm_logo.png" alt="">
						<img class="xp_img" src="../public/img/makwa_logo.png" alt="">
						<img class="xp_img" src="../public/img/csdgs_logo.png" alt="">
					</div>
				</div>
				<div class="cv_content_column">
					<h1 class = "cv_header">Formation Académiques</h1>
						<h3 style="margin-top:25px;">Technique Informatique</h3>
						<p>CÉGEP du Vieux-Montréal</p>
						<img src="../public/img/cvm_logo.png" alt="cvm_logo">
						<h3 style="margin-top:25px;">Baccalauréat en Enseignement des Mathématiques</h3>
						<p>Université du Québec À Montréal</p>
						<img src="../public/img/uqam_logo.png" alt="uqam_logo">
				</div>
		</div>
		<footer>
			<div id="img_container">
				<a class = "footer_img" id="facebook_link" href="https://www.facebook.com/bababriel" target="_blank">Facebook Icon</a>
				<a class = "footer_img" id="instagram_link" href="https://www.instagram.com/bababriel" target="_blank">Instagram Icon</a>
				<a class = "footer_img" id="linkedin_link" href="https://www.linkedin.com/in/gbombardier" target="_blank">LinkedIn Icon</a>
				<a class = "footer_img" id="github_link" href="https://github.com/gbombardier" target="_blank">Github Icon</a>
			</div>
		</footer>
	</body>

</html>
